<div class="col-md-12" style="text-align:center">
    <input type="button" id="btnPrint" value="Print" class="btn btn-primary" />
    <input type="button" id="btnDownload" value="Download"  class="btn btn-success"/>
</div>
